<h3> Featured </h3>
{% if artist_list %}
  <ul>
    {% for artist in artist_list %}
      <li><a = href="{% url 'artist_detail' artist.id %}">{{ artist.artist_name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
 <p> No artists are available. </p>
{% endif %}

 <h3> New Collaborative Playlists </h3>

{% if playlist_list_collaborative %}
  <ul>
    {% for playlist in playlist_list_collaborative %}
      <li><a = href="{% url 'playlist_detail' playlist.id %}">{{ playlist.playlist_name }}</a></li>
    {% endfor %}
  </ul>

{% else %}
 <p> No artists are available. </p>
{% endif %}

<h3> Shared Playlists </h3>

{% if playlist_list_shared %}
  <ul>
    {% for playlist in playlist_list_shared %}
      <li><a = href="{% url 'playlist_detail' playlist.id %}">{{ playlist.playlist_name }}</a></li>
    {% endfor %}
  </ul>

{% else %}
 <p> No artists are available. </p>
{% endif %}
 

 <h3> Your music </h3>

{% if playlist_list %}
  <ul>
    {% for playlist in playlist_list %}
      <li><a = href="{% url 'playlist_detail' playlist.id %}">{{ playlist.playlist_name }}</a></li>
    {% endfor %}
  </ul>
{% else %}
 <p> No playlists are available. </p>
{% endif %}
<a href="create_playlist">Create New Playlist</a>
